USE [master]
GO
/****** Object:  Database [military_vehicles]    Script Date: 15.05.2023 23:55:27 ******/
CREATE DATABASE [military_vehicles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'military_vehicles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\military_vehicles.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'military_vehicles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\military_vehicles_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [military_vehicles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [military_vehicles]
GO
/****** Object:  Table [dbo].[military_vehicles]    Script Date: 15.05.2023 23:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[military_vehicles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[lat] [float] NOT NULL,
	[lng] [float] NOT NULL,
	[marker] [image] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[military_vehicles] ON 

SET IDENTITY_INSERT [dbo].[military_vehicles] OFF
USE [master]
GO
